.Random-Flights-Frame{
    height: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    /* background-color: powderblue; */
}
.Random-Flight{
    background-image: url("../../../../../assets/images/jpg/abu-dhabi-1.jpg");
    /* background-color: powderblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 48%;
    height: 100%;
    border-radius: 15%;
}
.Random-Flights-Frame::-webkit-scrollbar {
    height: 2px;
    width: 10px;
}
.Random-Flights-Frame::-webkit-scrollbar-track {
    height: 2px;
    width: 10px;
    background: #f1f1f1;
    border-radius: 3px;
}
.Random-Flights-Frame::-webkit-scrollbar-thumb {
    height: 2px;
    width: 10px;
    background: powderblue;
    border-radius: 5px;
}
.Random-Flights-Frame::-webkit-scrollbar-thumb:hover {
    background: skyblue;
}
.Random-Flight-Frame-1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 65%;
    width: 85%;
}
.Random-Flight-Frame-2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 30%;
    width: 100%;
}
.Airline, .Times, .Visibility{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90%;
    width: 25%;
    border-radius: 15px;
    background-color: rgba(230, 225, 225, 0.7);
}

