.Admin-SignIn-Main-Frame{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    justify-content: center;
    background-color: azure;
    align-items: center;
}
.Admin-SignIn-Main-Form{
    width: 40%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: cornsilk;
    border-style: solid;
    border-color: powderblue;
}
.Inputs-Frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
    justify-content: space-evenly;
}
.Admin-SignIn-Main-Form button{
    height: 7vh;
    width: 10vw;
    border-radius: 20px;
}
.Admin-SignIn-Main-Form input{
    width: 30vw;
    height: 4vh;
    font-size: 20px;
}
.Admin-SignIn-Main-Form input:focus{
    background: none;
    border-radius: 0;
}
.Admin-SignIn-Main-Form label{
    font-size: 20px;
    color: powderblue;
}