.Auth-Main-Frame{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.Auth-Control-Button{
    border-style: none;
    background-color: transparent;
    color: #000;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 10vh;
    width: 15vw;
}
.Auth-Control_Button-SignUp{
    border-style: none;
    background-color: cornsilk;
    color: #000;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 10vh;
    width: 15vw;
}
.Auth-Control_Button-Login{
    border-style: none;
    background-color: cornsilk;
    color: #000;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 10vh;
    width: 15vw;
}
.Auth-Action-Buttons-Frame{
    display: flex;
    column-gap: 0.2vw;
    justify-content: center;
}
.Login-Frame{
    border-style: solid;
    height: 90%;
    width: 30.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-width: 1px;
}
.SignUp-Frame{
    border-style: solid;
    height: 90%;
    width: 30.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-width: 1px;
}