.Other-SignUp-Options{
    background-color: black;
    display: flex;
    flex-direction: column;
    /*row-gap: 10px;*/
    height: 30%;
    align-items: center;
    align-content: center;
}
.Other-SignUp-Options button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25vw;
    background-color: azure;
    border-width: 2px;
    border-radius: 20px;
    font-size: 20px;
}