.SignUp-Main-Frame{
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
    width: 100%;
}
.SignUp-Form{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}
.SignUp-Form-Inputs-Frame{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}
.SignUp-Form input{
    width: 29vw;
    height: 5vh;
    font-size: 20px;
    background-color: transparent;
    outline: none; 
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom: 2px, dotted, dodgerblue;
}
.SignUp-Form label{
    font-size: 20px;
    color: dodgerblue;
}
.SignUp-Form button{
    background-color: aliceblue;
    --button-color:var(--button-background) ;
    height: 40px;
    width: 10vw;   
    border-radius: 20px;
    color: var(--button-color);
}
.Other-SignUp-Options{
    margin: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    align-content: center;
}
.Other-SignUp-Options button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25vw;
    height: 6vh;
    background-color: azure;
    border-width: 2px;
    border-radius: 20px;
    font-size: 20px;
    /*
    */
}
.SignUp-Submit-Button-Frame{
    display: flex;
    justify-content: center;
    align-items: center;
}