*{
  margin: 0;
  padding: 0;
}

.Main-Frame{
  background-image: url('https://png.pngtree.com/background/20230428/original/pngtree-airplane-background-picture-image_2498427.jpg');
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}
/*                                            BODY                                       */
.Body{
  display: flex;
  width: 100%;
  height: 100vh;
}
.Auth-Frame{
  width: 35%;
  height: 100%;
  border-width: 1px;
}
.Welcome-Message-And-Value-Proposition-Frame{
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  border-width: 1px;
}
.Welcome-PTag{
  font-size: 80px;
  font-style: oblique;
}
.Value-Proposition-Ptag{
  font-style: oblique;
  font-size: 20px;
}
.Welcome-Message-And-Value-Proposition-Frame button{
  background-color: transparent;
  border-width: 3px;
  font-size: 25px;
  width: 20vw;
  height: 35px;
  cursor: pointer;
}
.Footer-Frame{
  display: flex;
  justify-content: space-between;
  background-color: cornsilk;
  text-align: start;
  
}
.About-Us-Frame{
  margin: auto;
  display: grid;
  row-gap: 10px;
  margin: 10px;
}
.About-Us-Ptag-One{
  font-size: 30px;
  
}
.About-Us-Ptag-Two{
  font-size: 20px;
  margin: auto;
}
.About-Us-Ptag-Three{
  font-size: 20px;
}
.News-Letter-Frame{
  display: grid;
  margin: 10px;
  align-content: center;
  row-gap: 30px;
  width: 30vw;
}
.News-Letter-Frame-Form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 15px;
  /* align-items: center; */
  align-content: center;
}
.News-Letter{
  font-size: 30px;
}
.News-Letter-Prompt{
  font-size: 20px;
}
.News-Letter-Frame button{
  width: 10vw;
  height: 4vh;
  background-color: transparent;
  color: black;
}
.News-Letter-Frame input{
  width: 20vw;
  height: 5vh;
  background-color: transparent;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom: 2px solid black;
  font-size: 20px;
}
.News-Letter-Frame label{
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.News-Letter-Frame input:focus{
  border-top: none;
  border-right-style: none;
  border-left-style: none;
}