.Main-Frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    margin-top: 20px;
}
.List-Of-Airports{
    list-style: "none";
    display: 'flex';
    flex-direction: 'column';
    align-content: 'space-evenly'
}
.Airport{
    border-style: 'solid'
}
.PapaParse-Read-Csv-Button{
    width: 15vw;
    height: 30px;
}
.Airport-Options{
    
}
.List-Of-Airports{
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: space-between;
}
.Airport-Button{
    height: 100%;
    width: 40vw;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.Airport-Button:hover{
    /* background-color: antiquewhite; */
}
.Airport-Button h3{
    font-size: 20px;
    
}
.Airport-Button h4{
    font-size: 15px;
}
.Airport-Button p{
    font-size: 15px;
}
