.Cheap-Flight-Frame{
    height: 20%;
    overflow: auto;
    border-style: solid;
    border-width: 1px;
}
.Cheap-Flights-List-Structure{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    overflow-x: scroll;
}
.Cheap-Flights-List-Structure li{
    border-style: solid;
    border-width: 1px;
    background-color: aliceblue;
    width: 40vw;
    height: 90%;
}