.Call-To-Action-Button{
    --button-background: paleturquoise;
    --button-color: #ffffff;
    --button-width: 15vw;
    --button-height: 10vh;

    background-color: var(--button-background);
    color: var(--button-color);
    width: var(--button-width);
    height: var(--button-height); 
    font-size: 20px;
}
.SignUp-Submit-Button{
    height: 50px;
    width: 10vw;
}