.Call-To-Action-Navbar{
    background-color: cornsilk;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-style: solid;
    border-width: 1px;
    position: sticky;
}
.Logo-Frame{
    display: flex;
    align-items: center;
    width: 50%;
}
.Call-To-Action-Frame{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    width: 50%;
}
.Logo-Frame img{
    font-size: 40px;
    height: 100%;
    width: 100px;
}
