.Call-To-Action-Navbar{
    background-color: cornsilk;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-style: solid;
    border-width: 1px;
    position: sticky;
}
.Logo-Frame{
    display: flex;
    align-items: center;
    width: 50%;
}
.Call-To-Action-Frame{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    width: 50%;
}
.Call-To-Action-Frame button{
    background-color: transparent;
    --button-color: #000000;
    border-style: none;
    font-size: 20px;
    height: 100%;
}
.Call-To-Action-Frame button:hover{
    border-top: 3px solid #000;
    cursor: pointer;
}
.Call-To-Action-Frame button:focus{
    background-color: paleturquoise;
    border-top: 3px solid #000;
    cursor: pointer;
}
.Logo-Frame img{
    font-size: 40px;
    height: 100%;
    width: 100px;
}
.Current-Button{
    background-color: paleturquoise;
    border-top: 3px solid #000;
    cursor: pointer;
}
