.Dashbaord-Side-Bar-Main-Frame{
    background-color: powderblue;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    justify-content: space-between;
    align-content: space-between;
    /* border-style: solid; */
    row-gap: 20px;
    height: 100vh;
    width: 15%;
}
.Dashboard-Logo-Frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 18%;
    width: 100%;
    border-top-right-radius: 25px;
}
.Dashboard-Logo-Frame img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 25px;
}
.Middle-Part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60%;
}
.Foot{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 2px;
    height: 35%;
}
.Dashbaord-Side-Bar-Main-Frame button{
    padding-left: 15%;
    padding-right: 15%;
    background-color: transparent;
    color: black;
    border: none;
    height: 10vh;
    width: 10vw;
}
.Middle-Part button{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}
.Foot button{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}
.Dashbaord-Side-Bar-Main-Frame button:focus{
    height: 10%;
    width: 100%;
    background-color: rgb(3, 133, 156);
    color: wheat;
    border-top: 3px solid black;
    border-bottom-style: none;
    border-right-style: none;
    border-left-style: none;
    border-radius: 30px;   
}
/* .Middle-Part button:hover, .Foot button:hover{
    height: 10%;
    width: 100%;
    background-color: rgb(72, 180, 195);
    color: wheat;
    border-top: 3px solid black;
    border-bottom-style: none;
    border-right-style: none;
    border-left-style: none;
    border-radius: 40px;   
} */
.Log-Out-Button:hover{
    width: 100%;
    background-color: cornsilk;
    border-bottom-right-radius: 30px;
    border-top: 3px solid black;
    border-bottom-style: none;
    border-right-style: none;
    border-left-style: none;
}