.Location-And-Contact-Info-Navbar{
  display: flex;
  justify-content: space-between;

}
.Location-And-Contact-Info-Navbar-Child-Frame-1{
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.Location-And-Contact-Info-Navbar-Child-Frame-2{
  width: 20%;
  display: flex;
  justify-content: space-around;
}
.Location-Frame, .Call-Frame, .Email-Frame{
  font-size: 15px;
}
.Call-Frame{  
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 25%;
}

.Call-To-Action-Navbar{
  background-color: cornsilk;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-style: solid;
  border-width: 1px;
  position: sticky;
}
.Location-And-Contact-Info-Navbar{
  display: flex;
  justify-content: space-between;
}
.Location-Frame, .Call-Frame, .Email-Frame{
  display: flex;
  align-items: center;
  width: 33%;
}
.Location-Frame a, .Call-Frame a, .Email-Frame a{
  color: #000;
}
.Location-Icon-Label,
.Call-Icon-Label{
  background-color: transparent;

}
.Location-Icon-Label:hover,
.Call-Icon-Label:hover,
.Email-Icon-Label:hover{
  border-top: 1px solid #fff;
}
