.UseFiles-Main-Frame{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-style: dashed;
    border-color: darkgray;
    align-items: center;
    justify-content: center;
}
.Draggable-Frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.UseFiles-Main-Frame img{
    height: 75%;
    width: 70%;
}
.Profile-Form-Element{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.Icon-Input-Frame{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45%;
    justify-content: center;
    row-gap: 10%;
    align-items: center;
}
.Icon-Input-Frame input{
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 20vw;
    cursor: pointer;
}
.Icon-Input-Frame button{
    width: 12vw;
    height: 8vh;
    background-color: cadetblue;
    border: none;
    font-size: 20px;
    color: #f1f1f1;
    border-radius: 20px;
}
