@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600,700,800&display=swap'); /* Optional: import any Google font from https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700&display=swap'); /* Optional: import any Google font from https://fonts.google.com/ */
@import "tailwindcss";

@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: #2563eb;
  --background: #ffffff;
  --text: #1f2937;
}

.dark {
  --primary: #1e40af;
  --background: #111827;
  --text: #f9fafb;
}


body {
  margin: 0;
  background-color: var(--background);
}

