.Admin-Users-Frame{
    display: flex;
    justify-content: flex-start;
    column-gap: 2vw;
}
.Admin-Users-Frame-II{
    width: 81%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 3%;
}
.Admin-Users-Main-Body-Frame{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    width: 100%;
}
.Buttons-And-Filter-Frame{
    display: flex;
    justify-content: space-between;
}
.User-Button-Frame{
    display: flex;
    width: 65%;
    border-radius: 30px;
    background-color: #f1f1f1;
    justify-content: flex-start;
    column-gap: 2vw;
}
.User-Button-Frame button{
    background: none;
    border: none;
    cursor: pointer;
    color: gray;
    font-size: 18px;
    height: 40px;
    width: 12vw;
}
.Current-Button{
    border-radius: 30px;
    color: black;
    background-color: powderblue;
}
.All-Users-Frame{
    /*height: 100%;*/
    /*width: 100%;*/
    height: 80%;
    border-radius: 20px;
    border-color: powderblue;
    background-color: azure;
    border-style: solid;
    border-width: 2px;
}
.Filter-Frame{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    font-size: 15px;
}
.Filter-Frame select{
    width: 70%;
    height: 90%;
    font-size: 15px;
}

